<div class="card my-4">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
      <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>

       <div class="control-group">
        <%= form.label :Author, class: "control-label" %>
        <div class="controls">
          <%= form.text_field :commenter, class: "form-control", placeholder: "Enter a subject" %></p>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :Comment, class: "control-label"%>
        <div class="controls">
          <%= form.text_area :body, class: "form-control", placeholder: "Enter a comment", rows: "5" %></p>
        </div>
      </div>

      <div class="form-actions">
        <%= form.submit 'Save', class: 'btn btn-primary' %>
      </div>
      <% end %>
  </div>
</div>